## MySQL
MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=aid_education_platform
MYSQL_PORT=3307

## Redis
REDIS_PORT=6379

## RabbitMQ
RABBITMQ_DEFAULT_USER=admin
RABBITMQ_DEFAULT_PASS=admin
RABBITMQ_PORT=5672
RABBITMQ_MGMT_PORT=15672

## Backend
BACKEND_PORT=8080

## Nginx (optional)
NGINX_PORT=80

## App secrets
JWT_SECRET=please-change-this
